{% extends 'teams/base.html' %}
{% block title_block %}
    <title>Player details..</title>
{% endblock %}
{% block body_block %}
    <h1>List of Players..</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Profile</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Skill</th>
                    <th scope="col">Jersey No</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
        <tbody>
            {% for player in player_list %}
                <tr>
                    <td>
                        <img src="{{MEDIA_ROOT}}/{{player.profile}}" class="img-thumbnail rounded float-left" alt="..."  height="75" width="75" />
                    </td>
                    <td>{{ player.firstname}} {{player.lastname }}</td>
                    <td>
                        <a href="{% url 'teams:team_detail' player.team.id %}">{{ player.team.name }}</a>
                    </td>
                    <td>{{ player.skill }}</td>
                    <td>{{ player.jerseyno }}</td>
                    <td>{{ player.state }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
