{% extends 'teams/base.html' %}
{% block title_block %}
    <title>Update Match details..</title>
{% endblock %}

{% block body_block %}

<form method="post">
    {% csrf_token %}
    <p class="text-center">Are you sure you want to delete "{{ object }}"?</p></br>

    <div class="col-md-10 text-center">
            <input type="submit" class="btn btn-danger" value="Confirm"/>
            <a class="btn btn-warning" href="{% url 'match:match_list' %}">Cancel</a>
    </div>

</form>

{% endblock %}